## importing data and spliting into features and labels

In [3]:
import pandas as pd
data=pd.read_csv('house_prices.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,N,0,...,7,1180.0,0.0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,N,0,...,7,2170.0,400.0,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,N,0,...,6,770.0,0.0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,N,0,...,7,1050.0,910.0,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,N,0,...,8,1680.0,0.0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [5]:
x=data.iloc[:,3:]
y=data.iloc[:,2]

# data preprocessing

In [6]:
x=pd.get_dummies(x)

In [7]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer()
x=imp.fit_transform(x)

## splitting data into trainning and testing

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

## regression algorithms

In [11]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

0.6969404926799116

In [15]:
from sklearn.neighbors import KNeighborsRegressor
model3=KNeighborsRegressor()
model3.fit(x_train,y_train)
model3.score(x_test,y_test)

0.5185030777215285

In [16]:
from sklearn.tree import DecisionTreeRegressor
model4=DecisionTreeRegressor()
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.7988602461213976

In [17]:
from sklearn.ensemble import RandomForestRegressor
model5=RandomForestRegressor()
model5.fit(x_train,y_train)
model5.score(x_test,y_test)

0.8875297448995723

## cross validation

In [18]:
from sklearn.model_selection import KFold
folds=KFold(n_splits=5)
folds.get_n_splits(x,y)

5

In [20]:
for a,b in folds.split(x,y):
    print(a)
    print(b)
    print('*'*50)

[ 4323  4324  4325 ... 21610 21611 21612]
[   0    1    2 ... 4320 4321 4322]
**************************************************
[    0     1     2 ... 21610 21611 21612]
[4323 4324 4325 ... 8643 8644 8645]
**************************************************
[    0     1     2 ... 21610 21611 21612]
[ 8646  8647  8648 ... 12966 12967 12968]
**************************************************
[    0     1     2 ... 21610 21611 21612]
[12969 12970 12971 ... 17288 17289 17290]
**************************************************
[    0     1     2 ... 17288 17289 17290]
[17291 17292 17293 ... 21610 21611 21612]
**************************************************

## same regression algorithms with cross validation

In [21]:
model6=LinearRegression()

In [25]:
for train_index,test_index in folds.split(x,y):
    x_train,x_test=x[train_index],x[test_index]
    y_train,y_test=y[train_index],y[test_index]
    model6.fit(x_train,y_train)
    s=model6.score(x_test,y_test)
    print(s)
    print('*'*50)

0.6959302687120064
**************************************************
0.6909821771383695
**************************************************
0.6930399128353757
**************************************************
0.7079340474619416
**************************************************
0.6857705366350162
**************************************************

In [34]:
model8=KNeighborsRegressor()

In [35]:
for train_index,test_index in folds.split(x,y):
    x_train,x_test=x[train_index],x[test_index]
    y_train,y_test=y[train_index],y[test_index]
    model8.fit(x_train,y_train)
    s=model8.score(x_test,y_test)
    print(s)
    print('*'*50)

0.5091210966387119
**************************************************
0.4990798282311578
**************************************************
0.47164565425172844
**************************************************
0.500368599827563
**************************************************
0.48611962748953386
**************************************************

In [30]:
model9=DecisionTreeRegressor()

In [31]:
for train_index,test_index in folds.split(x,y):
    x_train,x_test=x[train_index],x[test_index]
    y_train,y_test=y[train_index],y[test_index]
    model9.fit(x_train,y_train)
    s=model9.score(x_test,y_test)
    print(s)
    print('*'*50)

0.7778507469696228
**************************************************
0.7802161583761796
**************************************************
0.7024659083065943
**************************************************
0.7325582004155935
**************************************************
0.767065997209786
**************************************************

In [32]:
model10=RandomForestRegressor()

In [33]:
for train_index,test_index in folds.split(x,y):
    x_train,x_test=x[train_index],x[test_index]
    y_train,y_test=y[train_index],y[test_index]
    model10.fit(x_train,y_train)
    s=model10.score(x_test,y_test)
    print(s)
    print('*'*50)

0.8732025694040837
**************************************************
0.8808595491804366
**************************************************
0.8799727861977629
**************************************************
0.8620816885793572
**************************************************
0.8769347836806964
**************************************************